<?xml version="1.0"?>
<!--
  ~ /**
  ~  * Copyright (C) Shaymaa Saied, All Rights Reserved
  ~  * Last Modified 22/09/2022, 21:57
  ~  */
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="parent_increment" xsi:type="string">sales_order.parent_increment</item>
            </argument>
        </arguments>
    </virtualType>

    <preference for="MageArab\OrderSplit\Api\OrderSplitHandlerInterface" type="MageArab\OrderSplit\Model\OrderSplitHandler" />
    <preference for="MageArab\OrderSplit\Api\QuoteHandlerInterface" type="MageArab\OrderSplit\Model\QuoteHandler" />


</config>
